<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <!-- List of environment variables we want to set-->
      <DOTNET_ENVIRONMENT>Local</DOTNET_ENVIRONMENT>
      <ASPNETCORE_ENVIRONMENT>Local</ASPNETCORE_ENVIRONMENT>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>